



h2 {
  position: absolute;
  top: 3%;
  left: 30%;

  color: black;
  font-family: 'roboto', sans-serif, light;
}

h3 {
  position: auto;
   display:inline-block;
  top: 45%;
  left: 54%;
  font-size: 60px;
   color: black;
  font-family: 'roboto', sans-serif, bold, italic;
border-bottom: 10px solid black;
  }


 
  .a {
    margin-left: auto;
    margin-right: auto 
    margin:40px;
    padding:40px;
    display: block;
    text-align: center;
}


p {
  font-size: 20px;
color: black;
font-family: 'roboto', sans-serif, light;
}

