.img-thumbnail {
border:none;
padding:none;
margin:none;
border-radius: 0;
}




h1
{font-size: 100px;
	
}


.img-thumbnail:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .8);
}

.background{opacity:50%;}


