

body {
    background:
    url(CLOUDYBACKGROUND2.jpg) center no-repeat ,
    url(CLOUDYBACKGROUND2.jpg) repeat ;

    
}

h2 {
  position: absolute;
  top: 45%;
  left: 54%;
	font-size: 20px;
  padding-right: : 100px;
  transform: translate(10%,10%);
  color: white;
  text-align: center;
  font-family: 'roboto', sans-serif, light;
}

h3 {
  position: auto;
   display:inline-block;
  top: 45%;
  left: 54%;
  font-size: 60px;
   color: white;
  font-family: 'roboto', sans-serif, bold, italic;
border-bottom: 10px solid white;
  }

  h4 {
  position: absolute;
  top: 3%;
  left: 80%;

font-size:40px;
  color: black;
  font-family: 'roboto', sans-serif, light;
}

a {
  outline: none;
  text-decoration: none;
  color: white;
}
 

a:hover {
    color: black;
}



p {
color: white;
font-family: 'roboto', sans-serif, bold;
font-size:20px;
}


.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;



